.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows with 100px height */
    gap: 5px; /* gap between divs */
    height: 500px;
    width: 500px;
    margin: 150px auto auto auto;
}
.d{
   height: 100px;
   width: 100px;
   background-color: blueviolet;
}
.result{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid black; 
    height: 500px;
    width: 500px;
    margin: 150px auto auto auto;
}
.restart,h1{
    margin: 180px auto auto auto;
}